<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css" />
  </head>
  <body>
    {{content}}
    <footer>
    <p>Datenbasis: <a href="http://www.stadt-muenster.de/wahlen/index.html">Stadt Münster</a></p>
    </footer>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://d3js.org/d3.geo.tile.v0.min.js"></script>
    <script src='{{site.baseurl}}/js/underscore-min.js'></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src='{{site.baseurl}}/js/results.js'></script>
    <script src='{{site.baseurl}}/js/helpers.js'></script>
    <script src='{{site.baseurl}}/js/map.js'></script>
    <script src='{{site.baseurl}}/js/d3Map.js'></script>
    <script src='{{site.baseurl}}/js/votingMap.js'></script>
    <script src='{{site.baseurl}}/js/votes2015.js'></script>
    <script src='{{site.baseurl}}/js/main.js'></script>
    <!-- Google Analytics -->

    <!-- Google Analytics end -->

  </body>
</html>
